<!doctype html>
<html>
    <head>
        <title>Time table</title>
        <link rel="stylesheet" href="style.css"/>
        </head>
        <body>
            <div class="bodyp7">
            <h2>Weekly class</h2>
            <table border="1">
                <tr>
                <th>Day</th>
                <th>9:00 - 10:00</th>
                <th>10:00 - 11:00</th>
                <th>11:30 - 12:30</th>
                </tr>
                <tr>
                    <td>Monday</td>
                    <td>internet</td>
                    <td>Mathmatic</td>
                    <td>English</td>
                    </tr>
                    <tr>
                        <td>Thruday</td>
                        <td>network</td>
                        <td>Ethical hacking</td>
                        <td>probability</td>
                        </tr>
                        <tr>
                            <td>Tusday</td>
                            <td>Sport</td>
                            <td>Sofwaer enginnering</td>
                            <td>Analysis</td>
                            </tr>
                            <tr>
                                <td>Wensday</td>
                                <td>Computer</td>
                                <td>Language</td>
                                <td>Ethical hacking</td>
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    <td>Anlysis</td>
                                    <td>AI</td>
                                    <td>Lap</td>
                                    </tr>
                </table>
                </div>
                </body>
                </html>